extends baseEmail

block content
  h2 Please verify your Natours account with the link below.
  p #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  - const token = url.split('/verify/')[1]
                  - const baseUrl = url.split('/api')[0];
                  a(href=`${url}`, target='_blank') Verify your account
  p If you has already verified your account, please ignore this message 👩‍❤️‍.