doctype html
html
      head
            block head
                  meta(charset='UTF-8')
                  meta(name='viewport' content='width=device-width, initial-scale=1.0')
                  script(src="https://js.pusher.com/7.0/pusher.min.js")
                  
      body
            // Content
            block content
                  h1 This is a placeholder